/* ---- Imports ---- */

	@import url(font/font.css);

/* ---- CSS HTML5 RESET ---- */
	/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: 400;
	font-family: 'montserratregular';
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
	line-height: 1;
	padding: 0;
	margin: 0;
	font-size: 100%;
	overflow-x: hidden;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- CSS STYLESHEET ---- */

	/* --- DEFAULT CSS --- */

	.container {
		position: relative;
		max-width: 720px;
		min-height: 100vh;
		margin: 0 auto;
		padding: 0;
		background-color: #e41a18;
	}

	.container:before, .container:after {
		content: '';
		display: block;
		position: fixed;
		top: 0;
		height: 100vh;
		width: 50vw;
		z-index: 101;
		background-color: rgb(215, 215, 215);
	}

	.container:before {
		margin-left: -50vw;
	}

	.container:after {
		margin-left: 720px;
	}

	nav {
		position: fixed;
		top: 0;
		left: 0; right: 0;
		width: 100%;
		max-width: 720px;
		height: 8vh;
		min-height: 60px;
		padding-top: 4vh;
		margin: 0 auto;
		z-index: 99;
	}

	.navTitle {
		display: inline-block;
		/* height: auto; */
		width: 50%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.35em;
		line-height: 1.5em;
		letter-spacing: 2px;
		color: white;
	}

	.menuButton, .chatNavButton {
		display: inline-block;
		height: 100%;
		width: 25%;
		vertical-align: middle;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 1.25em;
		opacity: 0.75;
		cursor: pointer;
		transition: 
			opacity 0.25s ease-in-out, 
			background-position 0.25s ease-in-out;
	}

	.menuButton {
		background-image: url(images/iconMenu.png);
	}

	.chatNavButton {
		background-image: url(images/iconChat.png);
	}

	.menuButton:hover {
		background-position: 60% 50%;
		opacity: 0.95;
	}

	.chatNavButton:hover {
		background-position: 40% 50%;
		opacity: 0.95;
	}

	.menuButton.hidden, .chatNavButton.hidden {
		background: none;
		cursor: default;
	}

	.menuSlider {
		position: fixed;
		top: 0;
		bottom: 0;
		margin-left: -300px;
		height: 100vh;
		width: 75%;
		max-width: 300px;
		background-color: white;
		z-index: 100;
	}

	.menuViewport {
		display: none;
		position: fixed;
		right: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		max-width: 720px;
		margin: 0 auto;
		background-color: rgba(228, 26, 24, 0.5);
		z-index: 99;
		cursor: pointer;
	}

	.menuTitle {
		font-family: 'montserratbold';
		padding: 14vh 0 0;
		text-align: center;
		font-size: 4.5em;
		color: #e41a18;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	.menuLink {
		display: block;
		position: relative;
		height: 10vh;
		width: 80%;
		margin: 5vh auto 0;
		font-family: 'montserratlight';
		text-align: center;
		text-decoration: none;
		font-size: 1.45em;
		line-height: 10vh;
		color: #1D1D1D;
		text-transform: uppercase;
		letter-spacing: 2px;
		border-bottom: 1px solid  #8E8E8E;
		transition: line-height 0.25s ease-in-out;
	}

	.menuLink:hover {
		font-family: 'montserratregular';
		line-height: 13vh;
		transition: line-height 0.1s ease-in-out;
	}

	header {
		position: relative;
		height: 40vh;
		background-size: cover;
		background-position: 50% 70%;
		z-index: 99;
	}

	@media (min-width: 480px) 
	{
		body {
			position: relative;
			font-size: 120%;
		}
	}

	@media (max-height: 520px) 
	{
		body {
			font-size: 95%;
		}
	}


	/* 	--- BRANCH COLOURS --- */

	.branchBody {
		padding: 5px;
		border-radius: 5px;
		font-size: 0.9em;
	}

	.branchBodySmall {
		padding: 2px 4px;
		border-radius: 5px;
		font-size: 0.85em;
	}

	.branchGeneral {
		background: #00d2b0;
	}

	.branchIT {
		background: #e67e22;
	}

	.branchTechnology {
		background: #2980b9;
	}

	.branchFinance {
		background: #2ecc71;
	}

	.branchRestaurant {
		background: #c0392b;
	}

	.branchEducation {
		background: #f1c40f;
	}

	.branchFashion {
		background: #8e44ad;
	}

	/* --- SCREEN OVERRIDES --- */

		/* -- LOGIN SCREEN -- */

		.loginScreen {
			position: relative;
			width: 100%;
			min-height: 100vh;
			background-image: url(images/loginbottom.png);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50% 100%;
		}

		.loginTitle {
			font-family: 'montserratbold';
			padding-top: 12.5vh;
			text-align: center;
			font-size: 80px;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
		}
		
		.errorMsg {
			position: fixed;
			bottom: 0;
			width: 100%;
			max-width: 720px;
			height: 12vh;
			padding: 5% 0;
			z-index: 110;
			color: rgb(255, 255, 255);
			background-color: rgba(36, 36, 36, 0.9);
			border-top: 5px solid white;
			text-transform: uppercase;
			font-family: "montserratlight";
			line-height: 6vh;
			text-align: center;
			opacity: 1;
			-webkit-animation: fadeOut ease-in 1;
			-moz-animation: fadeOut ease-in 1;
			animation: fadeOut ease-in 1;
			-webkit-animation-fill-mode: forwards;
			-moz-animation-fill-mode: forwards;
			animation-fill-mode: forwards;
			-webkit-animation-duration: 10s;
			-moz-animation-duration: 10s;
			animation-duration: 10s;
		}
		
		.errorMsg b {
			font-family: "montserratregular";
			font-size: 1.25em;
		}

		@keyframes fadeOut
		{
			0% { opacity 0; }
			5% { opacity: 1; }
			75% { opacity: 1; }
			100% { opacity: 0.0; visibility: hidden }
		}

		form input[type="text"], input[type="password"] {
			font-family: 'montserratregular';
			width: 70%;
			margin: 4.5vh 12.5% 0 12.5%;
			height: 55px;
			border-radius: 5px;
			border: none;
			padding-left: 5%;
			font-size: 20px;
			background-color: white;
		}

		input, select {
			outline:none;
			-webkit-appearance:none;
			-moz-appearance:none;
			appearance:none;
		}

		input[type="checkbox"]
		{
			display: none;
		}

		input[type="checkbox"] + label div
		{
			position: relative;
			display: inline-block;
			width: 30px;
			height: 30px;
			vertical-align: middle;
			border-radius: 5px;
			background: rgba(255, 255, 255, 0.9);
			cursor:pointer;
		}

		input[type="checkbox"] + label div:after
		{
			content: '';
			position: absolute;
			top: 15px; left: 15px;
			width: 0px;
			height: 0px;
			vertical-align: middle;
			border-radius: 4.5px;
			background-color: #B51413;
			cursor:pointer;
			transition: 
				width 0.05s ease-in-out, 
				height 0.05s ease-in-out, 
				top 0.05s ease-in-out, 
				left 0.05s ease-in-out;
		}

		input[type="checkbox"]:checked + label div:after
		{
			top: 7px; left: 7px;
			width: 16px;
			height: 16px;
		}

		input[type="checkbox"] + label span
		{
			height: 28px;
			margin-left: 2.5vh;
			vertical-align: middle;
		}

		label {
			display: block;
			margin: 4.5vh 12.5% 0 12.5%;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 0.95em;
			cursor: pointer;
		}

		input[type="submit"] {
			font-family: 'montserratlight';
			width: 75%;
			margin: 4.5vh 12.5% 0% 12.5%;
			height: 50px;
			border: none;
			border-radius: 55px;
			cursor: pointer;
			background-color: rgba(0,0,0, 0.2);
			color: white;
			font-size: 1.2em;
			letter-spacing: 3px;
			text-transform: uppercase;
		}

		.noAccount {
			text-align: center;
			padding: 4.5vh 0;
			line-height: 2.5em;;
			font-size: 1em;
			letter-spacing: 2px;
		}

		span {
			color: white;
			text-align: center;
		}

		.noAccount a {
			text-align: center;
			width: 100%;
			padding: 0.25em 1em;
			color: white;
			font-size: 1em;
			text-decoration: none;
			border-radius: 1em;
			border: 2px solid white;   
		}

		/* -- NEWS SCREEN -- */

		.newsScreen {
			position: relative;
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.newsScreen header {
			background-image: 
				linear-gradient(to bottom, rgba(14,14,14,0.7) 0%, rgba(255,255,255,0) 20vh),
				url(images/newsheader.png);
		}

		.newsWelcome {
			position: absolute;
			left: 0; right: 0;
			top: 20vh;
			vertical-align: middle;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.75em;
			letter-spacing: 2px;
		}

		.newsWelcomeName {
			display: block;
			color: white;
			text-align: center;
			line-height: 7vh;
			font-size: 0.95em;
			font-family: 'montserratlight';
		}

		.newsArticle {
			background-color: white;
			min-height: 11.5vh;
			border-bottom: 1px solid lightgrey;
			padding: 2vh;
			line-height: 1.3em;
		}

		.newsImage {
			height: 11.5vh;
			width: 11.5vh;
			position: absolute;
			background-image: url(images/news/placeholder.jpg); 
			background-size: cover;
			background-position: 50%;
		}

		.newsTitle {
			display: inline-block;
			margin-left: 13.5vh;
			vertical-align: top;
			width: auto;
		}

		.newsTitle h4 {
			font-size: 1em;
		}

		/* -- MEET UPS SCREEN -- */

		.meetupsScreen {
			width: 100%;
			height: 100vh;
			background: 
				linear-gradient(to top,  rgba(14,14,14,1) 0%,rgba(255,255,255,0) 100%),
				url(images/meetup.png);
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.meetupsScreen h3 {
			text-align: left;
			font-size: 1.75em;
			line-height: 36px;
		}

		.meetupsScreen h5 {
			padding: 20px 0 20px 0;
			color: white;
			opacity; 0.1;
			font-family: 'montserratlight';
			text-transform: uppercase;
		}

		.meetupsText {
			position: absolute;
			bottom: 0;
			width: 85%;
			padding-bottom: 10vh;
			margin: 4.5vh 7.5% 0 7.5%;
			color: white;
		}

		a.accept {
			display: inline-block;
			height: 5vh;
			width: 30%;
			margin: 0 0 0 0;
			padding-left: 7vh;  
			background: transparent url(images/tick.png) no-repeat top left;
			background-size: 5vh;
			font-size: 2.4vh;
			text-align: left;
			text-transform: uppercase;
			line-height: 5vh;
		}    

		a.decline {
			display: inline-block;
			height: 5vh;
			width: 30%;
			margin: 0 0 0 0;
			padding-left: 7vh;  
			background: transparent url(images/cross.png) no-repeat top left;
			background-size: 5vh;
			font-size: 2.4vh;
			text-align: left;
			text-transform: uppercase;
			line-height: 5vh;
		}    

		/* -- PROFILE SCREEN -- */

		.profileScreen {
			width: 100%;
			height: 100%;
		}

		.profileScreen header {
			position: relative;
			height: 80vh;
			background-image: 
				linear-gradient(to bottom, rgba(14,14,14,0.7) 0%, rgba(255,255,255,0) 20vh),
				linear-gradient(to top, rgba(26, 26, 26, 0.7) 0, rgba(26, 26, 26, 0.25) 40vh, rgba(26, 26, 26, 0) 50vh),
				url(images/profiles/anna.png);
			background-position: 50% 20%;
		}

		.profileInfo {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40vh;
			text-align: center;
			color: white;
		}

		.profileName {
			position: absolute;
			bottom: 20vh;
			width: 100%;
			text-align: center;
			font-family: 'HeuristicaBold';
			font-size: 3.75em;
			line-height: 0.9em;
			color: white;
		}

		.profileName .profileNameLast {
			display: block;
			font-family: 'HeuristicaRegular';
			font-family: serif;
		}

		.profileNationality {
			position: absolute;
			left: 0; right: 0;
			bottom: 5vh;
			height: 1em;
			width: 100%;
			margin: 0 auto;
			padding-top: 8vh;
			text-transform: uppercase;
			background-image: url(images/flags/Sweden.png);
			background-repeat: no-repeat;
			background-position: 50% 0;
			background-size: calc(10px + 5vh);
		}

		.profileFollow, .profileDetails {
			height: 10vh;
			width: 100%;
		}

		.profileFollow {
			text-align: center;
			text-transform: uppercase;
			line-height: 10vh;
			font-size: 1.25em;
			letter-spacing: 2px;
			color: white;
			background-color: #e41a18;
		}

		.profileDetails {
			background-color: white;
			text-align: center;
		}

		.profileDetailsBox {
			display: inline-block;
			height: 90%;
			width: calc(33.3% - 1px);
			border-right: 1px solid #D8D8D8;
		}

		.profileDetailsBox:last-of-type {
			width: 33.3%;
			border-right: none;
		}

		.profileDetailsBox h4 {
			padding-top: 2.8vh;
			text-transform: uppercase;
			color: #1D1D1D;
			font-size: 1.2em;
		}

		.profileDetailsBox span {
			display: block;
			padding-top: 0.5vh;
			text-transform: uppercase;
			color: rgb(144, 144, 144);
			font-size: 0.75em;
		}

		/* -- SOCIAL SCREEN -- */

		.chatScreen header {
			height: 8vh;
			min-height: 60px;
			padding-top: 4vh;
		}

		.groupTimeline, .groupDM {
			width: calc(50% - 1px);
			display: inline-block;
			height: 30px;	
			padding: 2vh 0;
			vertical-align: middle;
			text-align: center;
			text-transform: uppercase;
			font-size: 1em;
			font-family: "montserratlight";
			color: rgba(255, 255, 255, 0.6);
			line-height: 30px;
			border-right: 1px solid rgba(255, 255, 255, 0.5);
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			cursor: pointer;
		}

		.groupDM {
			width: 50%;
			border-right: none;
		}

		.groupTimeline.active, .groupDM.active {
			color: rgba(255, 255, 255, 1);
		}

		.groupTimeline img, .groupDM img {
			height: 3.4vh;
		}

		.groupTimeline img path {
			fill: #ffffff;
		}

		.messageContainer {
			background-color: white;
			width: 100%;
			min-height: calc(73vh - 31px);
			padding-top: 2vh;
			padding-bottom: 10vh;
			/* margin-bottom: 40vh; */
		}

		.messageWrapper {
			position: relative;
			padding: 4vh 4% 0;
			border: none;
			font-size: 0.85em;
		}

		.messageUserImage {
			display:inline-block;
			width: calc(8% + 4vh);
			padding-bottom: calc(8% + 4vh);
			vertical-align: middle;
			background-color: black;
			border-radius: 50%;
		}

		.messageText {
			position: relative;
			display: inline-block;
			min-width: 50%;
			max-width: calc(74% - 4vh);
			margin-left: 5%;
			padding: 20px 16px;
			vertical-align: middle;
			line-height: 1.45em;
			font-family: "montserratlight";
			background-color: rgb(229, 229, 229);
			border-radius: 5px;
		}

		.messageText:before
		{
			content: "";
			position: absolute;
			height: 0;
			width: 0;
			top: calc(50% - 15px);
			left: -25px;
			z-index: 0;
			border-width: 15px 13px;
			border-style: solid;
			border-color: transparent rgb(229, 229, 229) transparent transparent;
		}

		.chatScreen form {
			position: fixed;
		
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			max-width: 720px;
			height: 10vh;
			min-height: 50px;
			margin: 0 auto;
			background-color: #e41a18;
		}

		.chatScreen input[type="text"] {
			margin: 10px;
			width: 58%;
			height: 65%;
			display: inline-block;
			font-size: 0.85em;
			font-family: "montserratlight";
		}

		.chatScreen input[type="submit"] {
			width: 25%;
			height: 70%;
			display: inline-block;
			font-size: 0.85em;
			position: absolute;
			margin: 0;
			right: 5%;
			top: 10px;
			border: 2px solid white;
			background: none;
		}

		/* -- EVENTS SCREEN -- */
		.eventsScreen header {
			height: 8vh;
			min-height: 60px;
			padding-top: 4vh;
		}

		.eventsContainer {
			background-color: white;
			width: 100%;
		}

		.eventsEvent {
			position: relative;
			background: 
				linear-gradient(to top,  rgba(14,14,14,1) 0%,rgba(255,255,255,0) 100%),
				url(images/events/HTC.jpg);
			background-size: cover;
			width: 100%;
			height: 50vh;
			color: white;
		}

		.eventsText {
			position: absolute;
			bottom: 10vh;
			width: 85%;
			color: white;
		}

		.eventsText {
			position: absolute;
			bottom: 5vh;
			width: 90%;
			color: white;
			padding: 0 5%;
		}

			.eventsText a {
				text-decoration: none;
				color: white;
			}

		.eventsScreen h3 {
			text-align: left;
			font-size: 1.75em;
			line-height: 36px;
			padding-bottom: 2vh;
		}

		.eventsScreen h5 {
			padding: 1vh 0 2vh 0;
			color: white;
			opacity; 0.1;
			font-family: 'montserratlight';
			text-transform: uppercase;
		}

		/* -- LIVING SCREEN -- */

		.livingScreen header {
			height: 8vh;
			min-height: 60px;
		
			padding-top: 4vh;
		}	

		.housingBtn, .jobsBtn, .educationBtn, .lifestyleBtn {
			width: calc(25% - 1px);
			display: inline-block;
			height: 30px;	
			padding: 2vh 0;
			vertical-align: middle;
			text-align: center;
			text-transform: uppercase;
			font-size: 1em;
			font-family: "montserratlight";
			color: rgba(255, 255, 255, 0.6);
			line-height: 30px;
			border-right: 1px solid rgba(255, 255, 255, 0.5);
			border-top: 1px solid rgba(255, 255, 255, 0.5);
			cursor: pointer;
		}
			
		.vacancyDate {
			color: rgb(84, 84, 84);
			font-size: 0.85em;
			font-family: 'montserratlight';
		}

		.livingScreen p {
			color: rgb(178, 178, 178);
			font-size: 0.85em;
			font-family: 'montserratlight';
		}

		.vacancyContainer {
			background-color: white;
			width: 100%;
			min-height: calc(73vh - 31px);
			padding-top: 2vh;
			line-height: 1.2em;
			/* margin-bottom: 40vh; */
		}

		.jobsArticle {
			background-color: white;
			min-height: 11.5vh;
			border-bottom: 1px solid lightgrey;
			padding: 2vh;
		}

		.jobsImage {
			height: 11.5vh;
			width: 11.5vh;
			position: absolute;
			background-image: url(images/news/placeholder.jpg); 
			background-size: cover;
			background-position: 50%;
		}

		.jobsTitle {
			display: inline-block;
			margin-left: 13.5vh;
			vertical-align: top;
			width: auto;
		}

		/* 	-- MY GROUP	-- */

		.groupsContainer {
			background-color: white;
			width: 100%;
			min-height: calc(73vh - 31px);
			padding-top: 2vh;
			padding-bottom: 10vh;
			/* margin-bottom: 40vh; */
			line-height: 1.3em;
		}

		.groupsImage {
			height: 11.5vh;
			width: 11.5vh;
			position: absolute;
			background-image: url(images/news/placeholder.jpg); 
			background-size: cover;
			background-position: 50%;
			border-radius: 50%;
		}

		/* -- SOCIAL SPLASH -- */
		
		.splashSocialScreen {
			position: relative;
			width: 100%;
			min-height: 100vh;
		}

		.splashForm {
			padding-top: 15vh;
		}

		.splashForm b {
			display: block;
			width: 75%;
			margin: 4.5vh 12.5% 0 12.5%;
			color: white;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 0.95em;
		}

		.splashForm .selectLists {
			width: 75%;
			margin: 4.5vh 12.5% 0 12.5%;
		}

		.splashForm .selectList {
			display: inline-block;
			width: 46%;
			padding-right: 4%;
		}

		.splashForm .selectList:last-of-type {
			display: inline-block;
			width: 46%;
			padding: 0 0 0 4%;
		}

		.splashForm .selectLists label {
			display: inline-block;
			width: 30%;
			min-width: 35px;
			margin: 2.5vh 0%;
			vertical-align: middle;
			color: white;
			/* text-transform: uppercase; */
			letter-spacing: 2px;
			font-size: 0.95em;
		}

		.splashForm .selectLists select {
			display: inline-block;
			min-width: 70%;
			padding: 8px 2.5%;
			margin: 0;
			vertical-align: middle;
			border:none;
			-webkit-border-radius:4px;
			-moz-border-radius:4px;
			border-radius:4px;
			background: #f8f8f8;
			font-size: 0.8em;
			font-weight: 400;
			font-family: 'montserratregular';
			color:#888;
			cursor:pointer;
		}