/* ---- Imports ---- */

	@import url(font/font.css);

/* ---- CSS HTML5 RESET ---- */
	/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain) */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: inherit;
	font-weight: 400;
	font-family: 'montserratregular';
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
	padding: 0;
	margin: 0;
	font-size: 100%;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ---- CSS STYLESHEET ---- */

	/* --- DEFAULT CSS --- */

	.container {
		position: relative;
		max-width: 720px;
		min-height: 100vh;
		background-color: #e41a18;
		margin: 0 auto;
		padding: 0;
	}

	nav {
		position: fixed;
		left: 0; right: 0;
		width: 100%;
		max-width: 720px;
		height: 8vh;
		padding-top: 4vh;
		margin: 0 auto;
		z-index: 99;
	}

	.menuButton {
		display: inline-block;
		height: 100%;
		width: 25%;
		vertical-align: middle;
		background-image: url(images/menuButton.png);
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: 1.55em;
		opacity: 0.5;
		cursor: pointer;
		transition: opacity 0.25s ease-in-out;
	}

	.menuButton:hover {
		opacity: 0.95;
	}

	.menuButton.hidden {
		background: none;
		cursor: default;
	}

	.menuSlider {
		position: fixed;
		left: -300px;
		height: 100vh;
		width: 75%;
		max-width: 300px;
		z-index: 100;
	}

	header {
		height: 40vh;
		background-size: cover;
		background-position: 50% 70%;
	}

	.navTitle {
		display: inline-block;
		height: 100%;
		width: 50%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
		text-transform: uppercase;
		font-size: 1.25em;
		line-height: 8vh;
		letter-spacing: 2px;
		color: white;
	}

	h2 {
		font-family: 'montserratbold';
		padding-top: 14.5vh;
		text-align: center;
		font-size: 80px;
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	form input[type="text"], input[type="password"] {
		font-family: 'montserratregular';
		width: 75%;
		margin: 4.5vh 12.5% 0 12.5%;
		height: 55px;
		border-radius: 5px;
		border: none;
		padding-left: 5%;
		font-size: 20px;
		background-color: rgba(255, 255, 255, 0.9);
	}

	input {
		outline: none;
	}
	
	input[type="checkbox"]
	{
		display: none;
	}
	
	input[type="checkbox"] + label div
	{
		position: relative;
		display: inline-block;
		width: 30px;
		height: 30px;
		vertical-align: middle;
		border-radius: 5px;
		background: rgba(255, 255, 255, 0.9);
		cursor:pointer;
	}
	
	input[type="checkbox"] + label div:after
	{
		content: '';
		position: absolute;
		top: 15px; left: 15px;
		width: 0px;
		height: 0px;
		vertical-align: middle;
		border-radius: 4.5px;
		background-color: #B51413;
		cursor:pointer;
		transition: 
			width 0.05s ease-in-out, 
			height 0.05s ease-in-out, 
			top 0.05s ease-in-out, 
			left 0.05s ease-in-out;
	}
	
	input[type="checkbox"]:checked + label div:after
	{
		top: 7px; left: 7px;
		width: 16px;
		height: 16px;
	}
	
	input[type="checkbox"] + label span
	{
		height: 28px;
		margin-left: 2.5vh;
		vertical-align: middle;
	}

	label {
		display: block;
		margin: 4.5vh 12.5% 0 12.5%;
		color: white;
		text-transform: uppercase;
		letter-spacing: 2px;
		font-size: 0.95em;
		cursor: pointer;
	}

	form input[type="submit"] {
		font-family: 'montserratregular';
		width: 75%;
		margin: 4.5vh 12.5% 0% 12.5%;
		height: 50px;
		border: none;
		border-radius: 25px;
		cursor: pointer;
		background-color: rgba(0,0,0, 0.2);
		color: white;
		font-size: 1.2em;
		letter-spacing: 2px;
	}

	.noAccount {
		text-align: center;
		padding: 4.5vh 0;
		line-height: 2em;;
		font-size: 1em;
		letter-spacing: 2px;
	}

	span {
		color: white;
		text-align: center;
	}

	.noAccount a {
		text-align: center;
		width: 100%;
		padding: 0.25em 1em;
		color: white;
		font-size: 1em;
		text-decoration: none;
		background-color: rgba(0,0,0, 0.2);
		border-radius: 1em;
	}

	@media (min-width: 480px) 
	{
		body {
			font-size: 120%;
		}
	}


	/* --- SCREEN OVERRIDES --- */

		/* -- LOGIN SCREEN -- */

		.loginScreen {
			position: relative;
			width: 100%;
			min-height: 100vh;
			background-image: url(images/loginbottom.png);
			background-repeat: no-repeat;
			background-size: 100%;
			background-position: 50% 100%;
		}

		/* -- NEWS SCREEN -- */

		.newsScreen {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.newsScreen header {
			background-image: 
				linear-gradient(to bottom, rgba(14,14,14,0.5) 0%, rgba(255,255,255,0) 20vh), 
				url(images/newsheader.png);
		}

		.newsWelcome {
			position: absolute;
			left: 0; right: 0;
			top: 20vh;
			vertical-align: middle;
			color: white;
			text-align: center;
			text-transform: uppercase;
			font-size: 1.75em;
			letter-spacing: 2px;
		}

		.newsWelcomeName {
			display: block;
			color: white;
			text-align: center;
			line-height: 7vh;
			font-size: 0.95em;
			font-family: 'montserratlight';
		}

		section {
			background-color: white;
		}

		article {
			min-height: 11.5vh;
			border-bottom: 1px solid lightgrey;
			padding: 2vh;
		}

		.newsImage {
			height: 11.5vh;
			width: 11.5vh;
			position: absolute;
			background-color: black;
		}

		.newsTitle {
			display: inline-block;
			margin-left: 13.5vh;
			vertical-align: top;
			width: auto;
		}

		.newsTitle h4 {
			font-size: 1em;
		}

		/* -- MEET UPS SCREEN -- */

		.meetupsScreen {
			width: 100%;
			height: 100vh;
			background: 
				linear-gradient(to top,  rgba(14,14,14,1) 0%,rgba(255,255,255,0) 100%),
				url(images/meetup.png);
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.meetupsScreen h3 {
			text-align: left;
			font-size: 1.75em;
			line-height: 36px;
		}

		.meetupsScreen h5 {
			padding: 20px 0 20px 0;
			color: white;
			opacity; 0.1;
			font-family: 'montserratlight';
			text-transform: uppercase;
		}

		.meetupsText {
			position: absolute;
			bottom: 0;
			width: 85%;
			padding-bottom: 10vh;
			margin: 4.5vh 7.5% 0 7.5%;
			color: white;
		}

		a.accept {
			display: inline-block;
			height: 5vh;
			width: 30%;
			margin: 0 0 0 0;
			padding-left: 7vh;  
			background: transparent url(images/tick.png) no-repeat top left;
			background-size: 5vh;
			font-size: 2.4vh;
			text-align: left;
			text-transform: uppercase;
			line-height: 5vh;
		}    

		a.decline {
			display: inline-block;
			height: 5vh;
			width: 30%;
			margin: 0 0 0 0;
			padding-left: 7vh;  
			background: transparent url(images/cross.png) no-repeat top left;
			background-size: 5vh;
			font-size: 2.4vh;
			text-align: left;
			text-transform: uppercase;
			line-height: 5vh;
		}    

		/* -- PROFILE SCREEN -- */

		.profileScreen {
			width: 100%;
			height: 100%;
		}

		.profileScreen header {
			position: relative;
			height: 80vh;
			background-image: 
				linear-gradient(to bottom, rgba(14,14,14,0.5) 0%, rgba(255,255,255,0) 20vh),
				linear-gradient(to top, rgba(26, 26, 26, 0.7) 0, rgba(26, 26, 26, 0.25) 40vh, rgba(26, 26, 26, 0) 50vh), 
				url(images/profiles/anna.png);
			background-position: 50% 20%;
		}

		.profileInfo {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40vh;
			text-align: center;
			color: white;
		}

		.profileName {
			position: absolute;
			bottom: 14vh;
			width: 100%;
			text-align: center;
			font-size: 2.75em;
			line-height: 1.25em;
			color: white;
		}

		.profileName .profileNameLast {
			display: block;
			font-family: 'montserratlight';
		}

		.profileNationality {
			position: absolute;
			left: 0; right: 0;
			bottom: 4vh;
			height: 10vh;
			max-height: 50px;
			width: 70px;
			margin: 0 auto;
			background-image: url(images/flags/sweden.png);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: 10vh;
			border-radius: 5px;
		}

		.profileFollow, .profileDetails {
			height: 10vh;
			width: 100%;
		}

		.profileFollow {
			text-align: center;
			text-transform: uppercase;
			line-height: 10vh;
			font-size: 1.25em;
			letter-spacing: 2px;
			color: white;
			background-color: #e41a18;
		}

		.profileDetails {
			background-color: white;
		}